* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --bg-url: url(./assets/f1car.jpg);
  --main-color: rgb(180, 0, 0);
  --bg-class: url(./assets/pilotos.jpg);
  --bg-class-eq: url(./assets/equipes.jpg);
  --table-border: 1px solid rgba(255, 255, 255, 0.2);
}
@font-face {
  font-family: f1font;
  src: url(./assets/Formula1-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: f1font;
  src: url(./assets/Formula1-Regular-1.ttf);
  font-weight: regular;
}
@font-face {
  font-family: f1wide;
  src: url(./assets/Formula1-Wide.ttf);
  font-weight: bold;
}
@font-face {
  font-family: f1font;
  src: url(./assets/Formula1-Bold-4.ttf);
  font-weight: bold;
}

html {
  font-family: "f1font", sans-serif;
}
body {
  background: #000000;
  color: #fff;
  width: 100%;
  height: 100vh;
}
@media (max-width: 480px) {
  body {
    width: 100vw;
  }
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
section {
  margin: 2rem auto;
}
.hero__container {
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available; /* Fallback for Safari */
  position: relative;
  filter: grayscale(100);
  animation: greyscale 5s forwards;
}
@keyframes greyscale {
  0% {
  }

  50% {
    filter: grayscale(100);
  }
  100% {
    filter: none;
  }
}
.hero__background {
  width: 100%;
  background: #000000 var(--bg-url) top center/cover;
  height: 100vh;
}
.hero__content {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: fixed;
  top: 0;
  padding: 1.25rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  text-align: right;
}
.navbar a {
  text-decoration: none;
  color: #dcdcdc;
  font-weight: 300;
  margin-left: 4rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
}
@media (max-width: 480px) {
  .navbar {
    display: none;
  }
}
.hero__fialogo {
  width: 150px;
  position: absolute;
  top: 100px;
  left: 50px;
  animation: fromtop 3s ease;
}
.hero__f1logo {
  min-width: 150px;
  position: absolute;
  bottom: 100px;
  right: 0;
  animation: fromtop 3s ease;
}
@keyframes fromtop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
  }
}

.hero__fialogo svg {
  fill: #fff;
  opacity: 0.5;
}
.hero__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  letter-spacing: 1rem;
  animation: opacity 6s ease;
  word-spacing: 1rem;
}
.hero-title p {
  letter-spacing: 8px;
}
.hero__text {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: normal;
}
@keyframes opacity {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 1rem;
  }
  .hero__text {
    font-size: 2.5rem;
  }
}
/* Section */

table {
  border-collapse: collapse;
  width: 100%;
}
thead th,
tbody td {
  padding: 12px 16px;
}
tbody tr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.table__etapa {
  border: var(--table-border);
  border-radius: 10px;
  width: 30%;
}
.section__title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.table__etapas {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 40px;
}
.table__etapas table td:nth-child(1) {
  width: 10%;
  text-align: center;
}
.table__etapas td {
  border: none;
  text-align: center;
}
.table__etapas thead th:nth-child(2) {
  text-align: left;
}
.table__etapas td:nth-child(2) {
  text-align: left;
}
.table__etapas td:nth-child(n + 3) {
  font-weight: 200;
}
.table__etapas thead tr:nth-child(2) {
  color: #404040;
}
@media (max-width: 480px) {
  .table__etapa {
    width: 100%;
    margin-top: 2rem;
  }
  .table__etapas {
    display: block;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    font-size: 0.725rem;
  }
}
/* Classificacao */
#class {
  margin-top: 7rem;
}

.background__class {
  width: 100%;
  height: 100vh;
  background: #000000 var(--bg-class) no-repeat top center/cover;
  filter: grayscale(100);
  animation: grayscale 3s ease-in-out;
  animation-timeline: view();
}
@keyframes grayscale {
  from {
    filter: grayscale(100);
  }
  to {
    filter: grayscale(0);
  }
}
.section__content {
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.section__text {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  letter-spacing: 1rem;
  word-spacing: 2rem;
}
@media (max-width: 480px) {
  .section__content {
    width: 100vw;
  }
  .section__text {
    font-size: 1.5rem;
    letter-spacing: normal;
    word-spacing: normal;
  }
}
/* Tabela Classificação */

.classification__table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.table__classification {
  border-radius: 10px;
  border: var(--table-border);
  width: 40%;
}
.table__classification thead tr:nth-child(2) {
  text-align: left;
  color: #404040;
}
.table__classification thead th:nth-child(n + 3) {
  text-align: center;
}

.table__classification tbody td {
  text-align: left;
}
.table__classification tbody td:nth-child(n + 3) {
  text-align: center;
}
@media (max-width: 480px) {
  .classification__table {
    max-width: 100vw;
    margin-top: 2rem;
    font-size: 0.625rem;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
    display: block;
  }
  .table__classification {
    border-radius: 10px;
    border: var(--table-border);
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    display: block;
  }
}
/* Classificação Equipes */

.background__class-equipes {
  width: 100%;
  height: 100vh;
  background: #000000 var(--bg-class-eq) no-repeat top center/cover;
  filter: grayscale(100);
  animation: grayscale 3s ease-in-out;
  animation-timeline: view();
}
@keyframes grayscale {
  from {
    filter: grayscale(100);
  }
  to {
    filter: grayscale(0);
  }
}
.logo-constructor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
  gap: 10px;
}

/* Construtores */

.grid {
  padding: 20px;
  margin: 2.5rem auto;
  font-family: "f1font";
}
.gridconstructors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.hover-border {
  display: block;
  color: inherit;
  text-decoration: inherit;
  max-width: fit-content;
}

.border {
  border: 0 solid white;
  border-top-width: 0.125rem;
  border-right-width: 0.125rem;
  border-top-right-radius: 0.9357rem;
  padding: 20px 20px 0 0;
  max-width: fit-content;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 480px) {
  .gridconstructors {
    display: block;
  }
  .hover-border {
    margin-bottom: 4rem;
  }
}
.border:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgba(255, 128, 0, 1);
}
.border.mercedes:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgba(39, 244, 210, 1);
}
.border.redbull:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgba(54, 113, 198, 1);
}
.border.williams:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgba(24, 104, 219, 1);
}
.border.ferrari:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgba(232, 0, 45, 1);
}
.border.haas:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgba(182, 186, 189, 1);
}
.border.aston:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgb(34 153 113);
}
.border.sauber:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgb(82 226 82);
}
.border.racingbulls:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgb(102 146 255);
}
.border.alpine:hover {
  padding-top: 1.875rem;
  margin-top: -0.625rem;
  border-color: rgb(0 161 232);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.positionpts {
  display: flex;
  justify-content: space-between;
}
.positionpts > p {
  font-size: 2.625rem;
  font-weight: 900;
}
.positionpts > div {
  font-family: "f1wide";
  font-size: 1.125rem;
  font-weight: bold;
  text-align: right;
}
.positionpts > div > p:nth-child(2) {
  font-family: "f1wide";
  font-size: 0.75rem;
  font-weight: bold;
  background: white;
  color: #000000;
  border-radius: 0.3125rem;
  padding: 0.125rem 0.625rem;
  letter-spacing: 0.125rem;
}
.contructorteam {
  display: flex;
  justify-content: space-between;
}

.contructorteam > span {
  font-weight: bold;
  font-size: 1.5625rem;
}
.contructorteam > span::before {
  content: " ";
  border-left: 0.425rem solid rgba(255, 128, 0, 1);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.mercedes > span::before {
  content: " ";
  border-left: 0.425rem solid rgba(39, 244, 210, 1);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.redbull > span::before {
  content: " ";
  border-left: 0.425rem solid rgba(54, 113, 198, 1);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.williams > span::before {
  content: " ";
  border-left: 0.425rem solid rgba(24, 104, 219, 1);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.ferrari > span::before {
  content: " ";
  border-left: 0.425rem solid rgba(232, 0, 45, 1);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.haas > span::before {
  content: " ";
  border-left: 0.425rem solid rgba(182, 186, 189, 1);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.aston > span::before {
  content: " ";
  border-left: 0.425rem solid rgb(34 153 113);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.sauber > span::before {
  content: " ";
  border-left: 0.425rem solid rgb(82 226 82);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.racingbulls > span::before {
  content: " ";
  border-left: 0.425rem solid rgb(102 146 255);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.contructorteam.alpine > span::before {
  content: " ";
  border-left: 0.425rem solid rgb(0 161 232);
  border-radius: 0.125rem;
  margin-right: 0.625rem;
}
.car {
  background: rgba(255, 255, 255, 0.1) url("./assets/plus-x2.avif");
  background-blend-mode: lighten;
  background-size: 8px;
  display: flex;
  justify-content: baseline;
}
@media (max-width: 480px) {
  .car {
    max-width: 100%;
  }
  .car > img {
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}
hr {
  border-color: rgb(0, 0, 0);
  margin: 0.425rem 0;
  height: 0;
  border-top-width: 1px;
}
.pilots {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  margin: 0.325rem 0;
}
.piloto {
  border: 0 solid rgba(255, 255, 255, 0.3);
  border-bottom-width: 0.125rem;
  border-right-width: 0.125rem;
  border-bottom-right-radius: 0.625rem;
}
.piloto span {
  font-weight: bold;
  text-transform: uppercase;
}

.sistemapts {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.sistemapts > h1 {
  font-family: "f1wide";
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.points {
  width: 40%;
  padding: 2.125rem;
}
.points span {
  font-family: "f1font";
  font-size: 1rem;
  font-weight: bold;
  color: rgba(54, 113, 198, 1);
}
.points h1 {
  margin-bottom: 2rem;
}
.table__classification.pts {
  width: 40%;
}
@media (max-width: 480px) {
  .sistemapts > h1 {
    font-size: 1.5rem;
  }
  .table__classification.pts {
    width: 100%;
    font-size: 1rem;
  }
  .table__classification.pts > table > thead th:nth-child(2) {
    text-align: right;
  }
  .table__classification.pts > table > tbody td:nth-child(2) {
    text-align: right;
  }
  .points {
    width: 100%;
    font-size: 1rem;
  }
}
